<h1 class="contenedor__title">Control Acceso</h1>

<div id="search-container">
  <input
    type="search"
    id="search-input"
    placeholder="ID"
    (keyup.enter)="cargarDatos()"
    [(ngModel)]="idUser"
  />
  <button id="search" (click)="cargarDatos()">Check-in</button>
</div>

<div *ngIf="isLoading" class="contenedor-spinner">
  <app-spinner [centrado]="true"></app-spinner>
</div>

<div class="contenedor">
  <div *ngIf="usuario" class="tabla">
    <div class="fila">
      <div class="columna key">Nombre:</div>
      <input
        class="columna"
        type="text"
        value="{{ usuario.nombre }}"
        readonly
      />
    </div>

    <div class="fila">
      <div class="columna key">Apellido:</div>
      <input
        class="columna"
        type="text"
        value="{{ usuario.apellido }}"
        readonly
      />
    </div>

    <div class="fila">
      <div class="columna key">DNI:</div>
      <input class="columna" type="number" value="{{ usuario.dni }}" readonly />
    </div>

    <div class="fila">
      <div class="columna key">Telefono:</div>
      <input
        class="columna"
        type="number"
        value="{{ usuario.telefono }}"
        readonly
      />
    </div>

    <div class="fila" *ngIf="inscripcion">
      <div class="columna key">Fecha Vencimiento:</div>
      <input
        class="columna"
        type="date"
        value="{{ inscripcion.cuota[0].fechaVenc }}"
        readonly
      />
    </div>
  </div>
</div>
<div class="container-estado">
  <div
    *ngIf="errorMsg || usuario"
    [ngClass]="{
      'franja-verde': !errorMsg,
      'franja-roja': !!errorMsg || situacion === 'Vencido'
    }"
    class="situacion"
  >
    {{ !errorMsg ? situacion : errorMsg }}
  </div>
</div>
