.ng-valid:not(form),
.ng-invalid:not(form),
.ng-dirty,
.ng-touched {
  border: 1px solid black;
}



.contenedor__title {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}


#search-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#search-container input:focus {
    outline: none;
    border: none;
    border-bottom: 2px solid #14213d;
}

#search-container input {
    border: none;
    background-color: transparent;
    width: 20%;
    border-bottom: 2px solid #14213d;
    padding: 0.8em 0.6em;
    margin:auto;
    align-self: center;
}

#search-container button {
    border: none;
    margin-left: 1em;
    padding: 0.8em 0.6em;
    background-color: var(--primary-yellow);
    border: 1px solid var(--primary-yellow);
    border-radius: 4px;
    letter-spacing: 0.5px;
    font-weight: 600;
    color: var(--primary-grey);
    transition: all 0.3s;
    margin-top: 10px;
    align-self: center;
}

#search-container button:hover {
    border: 1px solid #fff;
    color: #ffffff;
    background-color: #000000;
}



.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabla {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  margin-top: 70px;
}

.situacion {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    width: 100%;
    padding: 15px;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  }



.fila {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-top: 40px;
  width: 100%;
}

.fila:nth-child(1) {
  padding-top: 20px;
}

.text-danger {
  text-align: center;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
}

input:disabled {
  border: 1px solid #ccc;
  box-shadow: none;
  background-color: #f3f4f5;
}

.key {
  width: 150px;
  font-size: 15px;
  font-weight: 700;
}


.franja-verde,
.franja-roja {
  width: 100%;
  box-sizing: border-box; 
}

.franja-verde {
    background-color: green;
    color: white;
    font-size: 30px;
  }
  
  .franja-roja {
    background-color: red;
    color: white;
    font-size: 30px;
  }


/* Esta sirve para firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

@media (max-width: 500px) {
  .fila {
    font-size: 12px;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
    #search-container input {
        width: 100%; /* Ajusta el ancho del input a 100% */
    }

    #search-container button {
        width: 100%;
        margin-top: 1em; 
        margin-left: 0; 
    }
}