.cuota {
  width: 100%;
  height: fit-content;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  padding: 20px;
  position: relative;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}

.wrap-contenido {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
}

.celda {
  flex: 1;
  padding: 15px;
  text-align: center;
  min-width: 150px;
}

.titulo {
  font-size: 20px;
  font-weight: 700;
}

.valor {
  font-size: 20px;
  font-weight: 500;
  border: 1px solid #ccc;
  background-color: #f3f4f5;
  border-radius: 10px;
  padding: 20px 0;
}

.info-cuota-title {
  padding: 20px;
  padding-bottom: 40px;
  text-align: center;
}
.info-cuota-title__h2 {
  font-size: 40px;
  font-weight: 700;
}

.estado {
  display: flex;
  justify-content: center;
  padding-top: 35px;
}

.estado__title {
  font-size: 20px;
  font-weight: 700;
}
.estado__value {
  font-size: 20px;
  font-weight: 500;
}

.estado-vencido {
  color: rgb(192, 22, 22);
}

.pagar {
  display: flex;
  justify-content: center;
  padding: 18px 0;
}

.pay-button {
  width: 50%;
  height: 50px;
  background-color: #0d6efd;
  border: none;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.pay-button:disabled {
  background-color: rgb(139, 139, 139);
}

@media (max-width: 420px) {
  .cuota {
    padding: 0;
  }
  .info-cuota-title__h2 {
    font-size: 30px;
  }
  .info-cuota-title {
    padding-left: 10px;
  }
  .titulo {
    font-size: 15px;
  }
  .valor {
    font-size: 15px;
  }
  .pay-button {
    font-size: 15px;
  }
}
