<div class="contenedor-cuota">
  <div class="info-cuota">
    <div class="info-cuota_title">
      <h2>ULTIMA CUOTA</h2>
    </div>
    <div class="cuota">

      <div class="wrap-contenido">
        <div class="celda">
          <h3 class="titulo">Fecha pago</h3>
          <h3 class="valor">{{ fechaPago }}</h3>
        </div>
        <div class="celda">
          <h3 class="titulo">Monto</h3>
          <h3 class="valor">${{ importe }}</h3>
        </div>
        <div class="celda">
          <h3 class="titulo">Fecha Vencimiento</h3>
          <h3 class="valor">{{ fechaVenc }}</h3>
        </div>
      </div>
    </div>
    <div class="estado">
      <h3>Estado:&nbsp;</h3>
      <h4>{{ estado }}</h4>
    </div>
    <div class="pagar">
      <button
        [disabled]="disabledButton"
        [ngClass]="{ 'disabled-button': disabledButton }"
        class="pay-button"
        (click)="pagar()"
      >
        PAGAR
      </button>
    </div>
  </div>
</div>
