<div class="contenedor">
  <span class="title">{{ title }}</span>
  <span class="cost">{{ cost | currency: "USD" : "symbol" : "1.0-0" }}</span>

  <ul class="card-list">
    <!-- En este caso uso la directiva ngFor para recorrer el array de string que contiene los items de la lista de beneficios de cada plan, con esto me ahorro declarar una etiqueta <li></li> por cada item -->
    <li class="list-item" *ngFor="let item of cardListItems">
      <i class="gg-check-o"></i>{{ item }}
    </li>
  </ul>
  <button class="btn btn-warning boton" (click)="navigateToUser()">
    Asociate
  </button>
</div>
