.container-cards {
  display: flex;
  flex-wrap: wrap;
}

.post-card {
  max-width: 190px;
  color: #212529;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 10px;
  transition: all 0.2s ease-in;
  border-radius: 10px;
  margin: 5px;
}

.post-card:hover {
  background-color: #f3f4f5;
}

.post-card__title {
  font-size: 15px;
  line-height: 22px;
  font-weight: 700;
  margin: 10px 0;
  color: #212529;
  text-decoration: none;
}

.post-card-container {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  border-radius: 5px;
  background-color: #212529;
  color: #f3f4f5;
  align-items: center;
  padding: 15px;
  justify-content: center;
}

.post-card-container__time {
  font-weight: 600;
  font-size: 15px;
  margin: 0;
  padding: 5px;
}

.empty-horario__p {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
}
