<div *ngIf="!(horarios.length == 0); else noHorario">
  <div class="container-cards">
    <div class="post-card" *ngFor="let h of horarios">
      <p class="post-card__title">{{ h.dia.toUpperCase() }}</p>
      <div class="post-card-container">
        <p
          class="post-card-container__time"
          *ngFor="let hora of h.horario.split(',')"
        >
          {{ hora }}
        </p>
      </div>
    </div>
  </div>
</div>

<ng-template #noHorario>
  <p class="empty-horario__p">
    Esta actividad NO se dicta en la sede inscripta
  </p>
</ng-template>
