.footer-section {
  background: #151414;
  position: relative;
}
.footer-cta {
  border-bottom: 1px solid #373636;
}
.single-cta .icon {
  color: var(--primary-yellow);
  font-size: 30px;
  float: left;
  margin: 0 10px;
}
.cta-text {
  padding-left: 15px;
  display: inline-block;
}
.cta-text__sede {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 2px;
}
.cta-text__sede-ubi {
  color: #757575;
  font-size: 15px;
}
.footer-content {
  position: relative;
  z-index: 2;
}
/* .footer-pattern img {
  position: absolute;
  top: 0;
  left: 0;
  height: 330px;
  background-size: cover;
  background-position: 100% 100%;
} */
.footer-logo {
  margin-bottom: 30px;
}
.footer-logo__img {
  max-width: 120px;
}
.footer-text__descripcion {
  margin-bottom: 14px;
  font-size: 14px;
  color: #7e7e7e;
  line-height: 28px;
}
.footer-social-icon__follow {
  color: #fff;
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
.social-icons-container__a {
  color: #fff;
  font-size: 30px;
  margin: 7px;
}
.footer-social-icon .icon {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
}

.footer-widget-heading__links {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
  position: relative;
}
.footer-widget-heading__links::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -15px;
  height: 2px;
  width: 50px;
  background: var(--primary-yellow);
}
.links-container {
  display: flex;
  flex-direction: column;
  float: left;
  width: 50%;
  margin-bottom: 12px;
  text-decoration: none;
}

.links-container__a {
  color: var(--primary-yellow);
  margin-bottom: 10px;
}

.subscribe-form {
  position: relative;
  overflow: hidden;
}
.subscribe-form__input {
  width: 100%;
  padding: 14px 28px;
  background: #2e2e2e;
  border: 1px solid #2e2e2e;
  color: #fff;
  border: none;
}
.subscribe-form__bttn {
  position: absolute;
  right: 0;
  background: var(--primary-yellow);
  padding: 10px 20px;
  border: 1px solid var(--primary-yellow);
  top: 0;
}
.subscribe-form__bttn .icon {
  color: #fff;
  font-size: 22px;
  transform: rotate(-6deg);
}
.copyright-area {
  background: #202020;
  padding: 25px 0;
}
.copyright-text__p {
  margin: 0;
  font-size: 14px;
  color: #878787;
}
.copyright-text__p-a {
  color: var(--primary-yellow);
}

@media (max-width: 990px) {
  .single-cta {
    display: flex;
    flex-direction: column;
  }

  .cta-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .single-cta .icon {
    align-self: center;
  }

  .footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer-social-icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
  }

  .footer-widget {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
  }

  .footer-text__descripcion {
    display: flex;
    text-align: center;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50%;
    margin-bottom: 15px;
    text-decoration: none;
  }

  .links-container__a {
    color: var(--primary-yellow);
    margin-bottom: 10px;
  }
}

@media (max-width: 767px) {
  .single-cta {
    margin-bottom: 20px;
  }
}
