<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <fa-icon [icon]="locationIcon" class="icon"></fa-icon>
            <div class="cta-text">
              <h4 class="cta-text__sede">Sede Principal</h4>
              <span class="cta-text__sede-ubi">Córdoba 921, Rosario</span>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <fa-icon [icon]="phoneIcon" class="icon"></fa-icon>
            <div class="cta-text">
              <h4 class="cta-text__sede">Teléfono</h4>
              <span class="cta-text__sede-ubi">+54 9 341-6000789</span>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <fa-icon [icon]="envelopeIcon" class="icon"></fa-icon>
            <div class="cta-text">
              <h4 class="cta-text__sede">Correo Electrónico</h4>
              <span class="cta-text__sede-ubi">gymscript@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href=""
                ><img src="assets/logo.webp" class="img-fluid footer-logo__img" alt="logo"
              /></a>
            </div>

            <div class="footer-text">
              <p class="footer-text__descripcion">
                Gymscript es un gimnasio moderno y dinámico que combina la
                última tecnología fitness con un enfoque personalizado en tu
                salud. Nuestro equipo de entrenadores expertos te ayudará a
                alcanzar tus objetivos de forma efectiva, mientras disfrutas de
                un ambiente motivador y amigable.
              </p>
            </div>
            <div class="footer-social-icon">
              <span class="footer-social-icon__follow">Síguenos</span>
              <div class="social-icons-container">
                <a
                  ><fa-icon [icon]="facebookIcon" class="icon social-icons-container__a"></fa-icon
                ></a>
                <a
                  ><fa-icon [icon]="twitterIcon" class="icon social-icons-container__a"></fa-icon
                ></a>
                <a
                  ><fa-icon [icon]="instagramIcon" class="icon social-icons-container__a"></fa-icon
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3 class="footer-widget-heading__links">Links Útiles</h3>
            </div>
            <div class="links-container">
              <a
                 [routerLink]="['/home']"
                 class="links-container__a"
                 (click)="irAHome()"
                >Inicio</a
              >
              <a
                [routerLink]="['/home']"
                class="links-container__a"
                (click)="irANosotros()"
                 >Nosotros</a
              >
              <a
                 [routerLink]="['/home']"
                 class="links-container__a"
                 (click)="irAPlanes()"
                >Planes</a
              >
              <a
                 [routerLink]="['/home']"
                 class="links-container__a"
                 (click)="irASedes()"
                >Sedes</a
              >
              <a
                 [routerLink]="['/productos']"
                 class="links-container__a"
                 (click)="irAProductos()"
                >Productos</a
              >
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3 class="footer-widget-heading__links">Subscríbete</h3>
            </div>
            <div class="footer-text mb-25">
              <p class="footer-text__descripcion">
                No dejes de suscribirte a nuestras noticias, por favor completa
                el formulario a continuación.
              </p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input class="subscribe-form__input" type="text" placeholder="Email Address" />
                <button class="subscribe-form__bttn">
                  <fa-icon [icon]="planeIcon" class="icon"></fa-icon>
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 text-center">
          <div class="copyright-text">
            <p class="copyright-text__p">
              Copyright &copy; 2023, All Right Reserved
              <a class="copyright-text__p-a" href="https://www.frro.utn.edu.ar/">UTN frro</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
