<section class="section-login">
  <a routerLink="/home"><img src="assets/logo.webp" class="imagenLogo" /></a>
  <form class="login-form" [formGroup]="loginForm">
    <h1 class="title-form">Inicia Sesión</h1>
    <div class="container-email">
      <input
        formControlName="mail"
        type="email"
        class="form-control"
        id="exampleInputMail1"
        aria-describedby="mailHelp"
        placeholder="Correo Electrónico"
      />
      <div
        *ngIf="email.invalid && (email.dirty || email.touched)"
        class="text-danger"
      >
        <div *ngIf="email.errors?.['required']">El Email es requerido.</div>
        <div *ngIf="email.errors?.['email'] || email.errors?.['pattern']">
          El Email debe tener un formato válido.
        </div>
      </div>
    </div>

    <div class="container-password">
      <input
        formControlName="contraseña"
        type="password"
        class="form-control"
        id="exampleInputContraseña1"
        placeholder="Contraseña"
      />
      <div
        *ngIf="password.invalid && (password.dirty || password.touched)"
        class="text-danger"
      >
        <div *ngIf="password.errors?.['required']">
          La contraseña es requerida.
        </div>
      </div>
    </div>

    <button
      name="submit"
      type="submit"
      (click)="login()"
      class="btn btn-warning"
    >
      Iniciar Sesion
    </button>

    <app-spinner *ngIf="loading"></app-spinner>

    <p class="final-text">
      ¿No tenes una cuenta? <a routerLink="/signUp">Registrate</a>
    </p>
  </form>
</section>
