<header class="header" id="header">
  <div class="container-start">
    <div class="container-logo">
      <a [routerLink]="['/home']" (click)="irAHome(); contraer()" id="logo">
        <img class="img-logo container-start__bttn " src="assets/logo.webp" *ngIf="showLogo" />
      </a>
    </div>
    <div class="container-icons">
      <button class="container-start__bttn" id="barsIcon" (click)="desplegar()" *ngIf="showBarsIcon">
        <fa-icon [icon]="barsIcon" class="icon"></fa-icon>
      </button>
      <button class="container-start__bttn" id="xmarkIcon" (click)="contraer()" *ngIf="showXmarkIcon">
        <fa-icon [icon]="xmarkIcon" class="icon"></fa-icon>
      </button>
    </div>
  </div>

  <div class="container-nav" id="mid-container" *ngIf="showMidContainer">
    <ul class="nav-list flex-wrap">
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" (click)="irAHome(); contraer()">Inicio</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" (click)="irANosotros(); contraer()">Nosotros</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" (click)="irAPlanes(); contraer()">Planes</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/home']" class="nav-link" (click)="irASedes(); contraer()">Sedes</a>
      </li>
      <li class="nav-item">
        <a [routerLink]="['/productos']" class="nav-link" (click)="irAProductos(); contraer()">Productos</a>
      </li>
    </ul>
  </div>

  <div class="container-end" id="final-container" *ngIf="showFinalContainer">
    <button type="button" class="button-login" routerLink="/signUp" (click)="contraer()">
      Registrate
    </button>
    <button type="button" class="button-signup" routerLink="/signIn" (click)="contraer()">
      Inicia Sesión
    </button>
  </div>
</header>
