<div *ngIf="todoBien">
  <h1 class="title">INSCRIPCION</h1>
  <!-- Informacion de planes -->
  <div class="row">
    <div class="tabla col">
      <h2 class="title">Plan</h2>
      <hr />
      <div class="fila">
        <div class="columna key">Nombre</div>
        <div class="columna value">{{ inscripcion.plan.nombre }}</div>
      </div>
      <div class="fila">
        <div class="columna key">Descripción</div>
        <div class="columna value">
          <p *ngFor="let desc of descripcionPlan">{{ desc }}</p>
        </div>
      </div>
      <div class="fila">
        <div class="columna key">Precio</div>
        <div class="columna value">${{ inscripcion.plan.precioMensual }}</div>
      </div>
    </div>

    <!-- Informacion de Sedes -->
    <div class="tabla col">
      <h2 class="title">Sede</h2>
      <hr />
      <div class="fila">
        <div class="columna key">Dirección</div>
        <div class="columna value">
          {{ inscripcion.sede.direccion }}
        </div>
      </div>
      <div class="fila">
        <div class="columna key">Provincia</div>
        <div class="columna value">
          {{ localidad.provincia.nombre }}
        </div>
      </div>
      <div class="fila">
        <div class="columna key">Localidad</div>
        <div class="columna value">{{ localidad.nombre }}</div>
      </div>
    </div>
  </div>

  <p class="subtitulo">Inscripto desde el {{ fecha }}</p>

  <!-- Botones para dar de baja y cambiar de plan -->
  <div class="botones">
    <button class="cambiarPlan btn" (click)="cambiarPlan()">
      Cambiar Plan o Sede
    </button>
    <button class="baja btn" (click)="darDeBaja()">Dar de Baja</button>
  </div>
</div>
