* {
  font-family: "Montserrat", sans-serif;
}
h1,
h2 {
  text-align: center;
  font-weight: 700;
  padding-bottom: 20px;
}

.tabla {
  width: 600px;
  padding: 20px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  margin: 5px;
}

.fila {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding: 10px 0px;
  width: 100%;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin-left: 10px;
}

.key {
  width: 150px;
  font-size: 15px;
  font-weight: 700;
}

.value {
  max-width: 300px;
  width: 100%;
  font-size: 15px;
  font-weight: 500;
  background-color: #dee2e6;
  border-radius: 10px;
  padding: 5px;
}

.botones {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 20px;
  align-items: center;
}

button {
  max-width: 300px;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.5px;
  color: white;
  transition: all 0.2s;
  margin-right: 5px;
  font-weight: 700;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}

.subtitulo {
  font-size: 12px;
  font-weight: 500;
  margin: 10px 0 20px;
  font-style: italic;
  color: #14213d;
}

.cambiarPlan {
  background-color: #ffc107;
  color: #212529;
}

.cambiarPlan:hover {
  background-color: rgb(251, 218, 44);
}

.baja {
  background-color: rgb(190, 24, 24);
}

.baja:hover {
  background-color: rgb(255, 47, 47);
}

@media (max-width: 523px) {
  .fila {
    flex-direction: column;
  }
  .botones {
    flex-direction: column;
  }
  h1,
  h2 {
    font-size: 23px;
  }
  .columna {
    font-size: 12px;
  }
}
