<header class="header">
  <div class="container-start">
    <a href="#" class=""><img class="img-logo" src="assets/logo.png" /></a>
  </div>
  <div class="container-nav" id="mid-container">
    <ul class="nav-list flex-wrap">
      <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
      <li class="nav-item">
        <a href="#Nosotros" class="nav-link">Nosotros</a>
      </li>
      <li class="nav-item"><a href="#planes" class="nav-link">Planes</a></li>
      <li class="nav-item">
        <a routerLink="/productos" class="nav-link">Productos</a>
      </li>
      <li class="nav-item"><a href="#sedes" class="nav-link">Sedes</a></li>
    </ul>
  </div>

  <div class="container-end" id="final-container">
    <button type="button" class="button-login" routerLink="/signUp">
      Registrate
    </button>
    <button type="button" class="button-signup" routerLink="/signIn">
      Inicia Sesión
    </button>
    <button class="hidden" id="barsIcon" (click)="desplegar()">
      <fa-icon [icon]="barsIcon" class="icon"></fa-icon>
    </button>
    <button class="hidden" id="xmarkIcon" (click)="contraer()">
      <fa-icon [icon]="xmarkIcon" class="icon"></fa-icon>
    </button>
  </div>
</header>
