<header class="header" >
    <div class="container-start">
      <a href="/" class=""><img class="img-logo" src="../../../assets/logo.png"></a>
    </div>

      <div class="container-nav">
        <ul class="nav-list flex-wrap">
          <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
          <li class="nav-item"><a href="#Nosotros" class="nav-link">Nosotros</a></li>
          <li class="nav-item"><a href="#planes" class="nav-link">Planes</a></li>
          <li class="nav-item"><a href="/productos" class="nav-link">Productos</a></li>
          <li class="nav-item"><a href="#sedes" class="nav-link">Sedes</a></li>
          
        </ul>
      </div>

      <div class="container-end">
        <button type="button" class="button-login" routerLink="/signUp">Registrate</button>
        <button type="button" class="button-signup" routerLink="/signIn">Inicia Sesión</button>
      </div>
</header>