<header class="header">
  <div class="container-fluid">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-between"
    >
      <a href="/" class=""></a>

      <ul class="nav-list flex-wrap">
        <li class="nav-item"><a href="#" class="nav-link">Inicio</a></li>
        <li class="nav-item"><a href="#planes" class="nav-link">Planes</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Productos</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Sedes</a></li>
        <li class="nav-item"><a href="#" class="nav-link">Nosotros</a></li>
      </ul>

      <div class="text-end">
        <button type="button" class="button-login">Registrate</button>
        <button type="button" class="button-signup">Inicia Sesión</button>
      </div>
    </div>
  </div>
</header>
