<div class="form-container">
  <form class="inscription-form">
    <h1>INSCRIPCIÓN A PLAN</h1>

    <div class="planes-list">
      <h3>Elige un plan</h3>
      <hr>
      <label *ngFor="let plan of planes">
        <input type="radio" name="planesGroup" [(ngModel)]="idPlanSelected" value="{{plan.id}}" (change)="updateButtonState()">
        {{plan.nombre | titlecase}} - 
        {{plan.precioMensual | currency:'USD':'symbol':'1.0-0'}}
      </label>
    </div>

    <div class="sedes-list">
      <h3>Elige una sede</h3>
      <hr>
      <label *ngFor="let sede of sedes">
        <input type="radio" name="sedesGroup" [(ngModel)]="idSedeSelected" value="{{sede.id}}" (change)="updateButtonState()">
        {{sede.direccion + " - " + sede.localidad.nombre}}
      </label>
    </div>

    <div class="button-container">
        <button [disabled]="disabledButton" [ngClass]="{'disabled-button': disabledButton}" class="pay-button" (click)="createInscription(idPlanSelected,idSedeSelected)">Pagar ahora</button>
    </div>
  </form>
</div>

