.ng-valid:not(form),
.ng-invalid:not(form),
.ng-dirty,
.ng-touched {
  border: 1px solid black;
}

.contenedor__title {
  font-weight: 700;
  font-family: "Montserrat", sans-serif;
}

.contenedor {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.tabla {
  max-width: 600px;
  width: 100%;
  padding: 20px;
  padding-bottom: 40px;
  background: rgb(255, 255, 255);
  border-radius: 20px;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
  margin: 10px;
}

.fila {
  font-family: "Montserrat", sans-serif;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  padding-top: 40px;
  width: 100%;
}

.fila:nth-child(1) {
  padding-top: 20px;
}

.text-danger {
  text-align: center;
}

.columna {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  padding-left: 10px;
  border-radius: 10px;
  width: 100%;
}

input:disabled {
  border: 1px solid #ccc;
  box-shadow: none;
}

.key {
  width: 150px;
  font-size: 15px;
  font-weight: 700;
}

.botones {
  max-width: 600px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  align-items: center;
}

.btn {
  max-width: 260px;
  width: 100%;
  min-height: 40px;
  cursor: pointer;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 10px;
  letter-spacing: 0.5px;
  color: white;
  margin: 5px;
  transition: all 0.2s;
  font-weight: 700;
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}

.editar,
.guardar {
  background-color: var(--primary-yellow);
  color: var(--primary-grey);
}

.editar:hover,
.guardar:hover {
  background-color: rgb(251, 218, 44);
}

.baja,
.cancelar {
  background-color: rgb(190, 24, 24);
}

.baja:hover,
.cancelar:hover {
  background-color: rgb(255, 47, 47);
}

/* Se eliminan botones de aumento y decremento de inputs number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esta sirve para firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 500px) {
  .fila {
    font-size: 12px;
    flex-direction: column;
  }
  .botones {
    flex-direction: column;
  }
}
