<div *ngIf="todoBien" class="contenedor">
  <h1>Gestionar Cuenta</h1>

  <!-- Informacion de planes -->
  <form class="tabla" [formGroup]="form">
    <!-- Nombre -->
    <div class="fila">
      <div class="columna key">Nombre:</div>
      <input
        formControlName="nombre"
        class="columna"
        type="text"
        value="{{ usuario.nombre }}"
      />
    </div>
    <div
      *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)"
      class="text-danger"
    >
      <div *ngIf="nombre.errors?.['required']">El nombre es requerido.</div>
      <div *ngIf="nombre.errors?.['pattern']">
        El nombre debe tener un formato válido.
      </div>
    </div>
    <!-- Apellido -->
    <div class="fila">
      <div class="columna key">Apellido:</div>
      <input
        formControlName="apellido"
        class="columna"
        type="text"
        value="{{ usuario.apellido }}"
      />
    </div>
    <div
      *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)"
      class="text-danger"
    >
      <div *ngIf="apellido.errors?.['required']">El apellido es requerido.</div>
      <div *ngIf="apellido.errors?.['pattern']">
        El apellido debe tener un formato válido.
      </div>
    </div>
    <!-- DNI -->
    <div class="fila">
      <div class="columna key">DNI:</div>
      <input
        formControlName="dni"
        class="columna"
        type="number"
        value="{{ usuario.dni }}"
      />
    </div>
    <div *ngIf="dni.invalid && (dni.dirty || dni.touched)" class="text-danger">
      <div *ngIf="dni.errors?.['required']">El DNI es requerido.</div>
      <div *ngIf="dni.errors?.['min'] || dni.errors?.['max'] || dni.invalid">
        El DNI debe tener un formato válido.
      </div>
    </div>
    <!-- Telefono -->
    <div class="fila">
      <div class="columna key">Telefono:</div>
      <input
        formControlName="telefono"
        class="columna"
        type="number"
        value="{{ usuario.telefono }}"
      />
    </div>
    <div
      *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)"
      class="text-danger"
    >
      <div *ngIf="telefono.errors?.['required']">El telefono es requerido.</div>
      <div
        *ngIf="telefono.errors?.['pattern'] || telefono.errors?.['minLength'] || telefono.errors?.['maxLength']"
      >
        El telefono debe tener un formato válido.
      </div>
    </div>
    <!-- Mail -->
    <div class="fila">
      <div class="columna key">Mail:</div>
      <input
        formControlName="mail"
        class="columna"
        type="mail"
        value="{{ usuario.mail }}"
      />
    </div>
    <div
      *ngIf="mail.invalid && (mail.dirty || mail.touched)"
      class="text-danger"
    >
      <div *ngIf="mail.errors?.['required']">El Email es requerido.</div>
      <div *ngIf="mail.errors?.['mail'] || mail.errors?.['pattern']">
        El Email debe tener un formato válido.
      </div>
    </div>
    <!-- Contraseña -->
    <div class="fila">
      <div class="columna key">Contraseña:</div>
      <input
        formControlName="contraseña"
        class="columna"
        type="password"
        value="{{ usuario['contraseña'] }}"
      />
    </div>
    <div
      *ngIf="password.invalid && (password.dirty || password.touched)"
      class="text-danger"
    >
      <div *ngIf="password.errors?.['required']">
        La contraseña es requerida.
      </div>
      <div *ngIf="password.errors?.['minlength']">
        La contraseña debe tener al menos 8 caracteres.
      </div>
    </div>
  </form>
  <div class="botones">
    <button (click)="editar()" class="editar" *ngIf="bloqEdicion">
      Editar
    </button>
    <button (click)="eliminarCuenta()" class="baja" *ngIf="bloqEdicion">
      Eliminar Cuenta
    </button>
    <button (click)="guardarDatos()" class="guardar" *ngIf="!bloqEdicion">
      Guardar
    </button>
    <button (click)="cancelar()" class="cancelar" *ngIf="!bloqEdicion">
      Cancelar
    </button>
  </div>
</div>
