<footer class="footer-section">
  <div class="container">
    <div class="footer-cta pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-md-4 mb-30">
            <div class="single-cta">
              <fa-icon [icon]="locationIcon" class="icon"></fa-icon>
                <div class="cta-text">
                  <h4>Sede Principal</h4>
                  <span>Córdoba 921, Rosario</span>
                </div>
            </div>
        </div>
        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <fa-icon [icon]="phoneIcon" class="icon"></fa-icon>
            <div class="cta-text">
              <h4>Teléfono</h4>
              <span>+54 9 341-6000789</span>
            </div>
          </div>
        </div>

        <div class="col-xl-4 col-md-4 mb-30">
          <div class="single-cta">
            <fa-icon [icon]="envelopeIcon" class="icon"></fa-icon>
            <div class="cta-text">
              <h4>Correo Electrónico</h4>
              <span>gymscript@gmail.com</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="footer-content pt-5 pb-5">
      <div class="row">
        <div class="col-xl-4 col-lg-4 mb-50">
          <div class="footer-widget">
            <div class="footer-logo">
              <a href=""><img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6a/JavaScript-logo.png/800px-JavaScript-logo.png" class="img-fluid" alt="logo"></a>
            </div>

            <div class="footer-text">
              <p>Gymscript es un gimnasio moderno y dinámico que combina la última tecnología fitness con un enfoque personalizado en tu
              salud. Nuestro equipo de entrenadores expertos te ayudará a alcanzar tus objetivos de forma efectiva, mientras disfrutas
              de un ambiente motivador y amigable.</p>
            </div>
            <div class="footer-social-icon">
              <span>Síguenos</span>
              <div class="social-icons-container">
                <a href="#"><fa-icon [icon]="facebookIcon" class="icon"></fa-icon></a>
                <a href="#"><fa-icon [icon]="twitterIcon" class="icon"></fa-icon></a>
                <a href="#"><fa-icon [icon]="instagramIcon" class="icon"></fa-icon></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Links Útiles</h3>
            </div>
              <div class="links-container">
                <a href="#">Inicio</a>
                <a href="#">Contacto</a>
                <a href="#">Nosotros</a>
                <a href="#">Servicios</a>
              </div>
          </div>
        </div>
        <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
          <div class="footer-widget">
            <div class="footer-widget-heading">
              <h3>Subscríbete</h3>
            </div>
            <div class="footer-text mb-25">
              <p>No dejes de suscribirte a nuestras noticias, por favor completa el formulario a continuación.</p>
            </div>
            <div class="subscribe-form">
              <form action="#">
                <input type="text" placeholder="Email Address">
                <button><fa-icon [icon]="planeIcon" class="icon"></fa-icon></button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="copyright-area">
    <div class="container">
      <div class="row">
        <div class="col-xl-12 col-lg-12 text-center">
          <div class="copyright-text">
            <p>Copyright &copy; 2023, All Right Reserved <a href="https://www.frro.utn.edu.ar/">UTN frro</a></p>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
