<section class="container-sedes" id="sedes">
    <div class="main-sedes">
        <div class="map-container">
            <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1990.5600675242747!2d-60.64993604630253!3d-32.958674364061196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgimnasio%20tempus!5e0!3m2!1ses-419!2sar!4v1694006051274!5m2!1ses-419!2sar" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>       
        <div class="txt-info-sedes">
            <h4>&lt;Sedes&gt;</h4>
            <h1>DISFRUTA CUALQUIERA DE NUESTRAS SEDES</h1>
            <p>Gym Script inicio en 2023 como una opción para aquellos desarrolladores que quieren no solo mejorar su código sino también su cuerpo. Desde entonces, nos hemos expandido hasta más de 4 lugares en todo el país</p>
        </div>
    </div>
</section>