.card-container {
  height: 400px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  margin: 20px 40px;
}

.card-img {
  padding: 0 20px;
  width: 300px;
  height: 300px;
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
}

.card-info__name {
  font-size: 1.42rem;
  font-weight: bold;
  color: #fff;
}

.card-info__description {
  font-size: 1rem;
  color: #c4c4c4;
}

/* Media max width querys */

@media (max-width: 1205px) {
  .card-container {
    width: 300px;
    height: 300px;
    margin: 18px 36px;
  }

  .card-img {
    padding: 0 18px;
    width: 225px;
    height: 225px;
  }

  .card-info {
    padding: 0 9px;
  }

  .card-info__name {
    font-size: 1.065rem;
  }
  
  .card-info__description {
    font-size: 0.75rem;
  }
}

@media (max-width: 1005px) {
  .card-container {
    width: 200px;
    height: 200px;
    margin: 16px 32px;
  }
  
  .card-img {
    padding: 0 16px;
    width: 150px;
    height: 150px;
  }

  .card-info {
    padding: 0 8px;
  }

  .card-info__name {
    font-size: 0.71rem;
  }
  
  .card-info__description {
    font-size: 0.5rem;
  }
}

@media (max-width: 500px) {
  .card-container {
    width: 150px;
    height: 150px;
    margin: 14px 28px;
  }
  
  .card-img {
    padding: 0 14px;
    width: 112px;
    height: 112px;
  }

  .card-info {
    padding: 0 7px;
  }
  
  .card-info__name {
    font-size: 0.532rem;
  }
  
  .card-info__description {
    font-size: 0.375rem;
  }
}

@media (max-width: 400px) {
  .card-container {
    width: 100px;
    height: 100px;
    margin: 12px 24px;
  }
  
  .card-img {
    padding: 0 12px;
    width: 75px;
    height: 75px;
  }

  .card-info {
    padding: 0 6px;
  }
  
  .card-info__name {
    font-size: 0.355rem;
  }
  
  .card-info__description {
    font-size: 0.25rem;
  }
}