.card-container {
  width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  background-color: transparent;
  margin: 0.5rem;
}

.card-img {
  --size: 300px;
  width: var(--size);
  height: var(--size);
}

.card-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card-info__name {
  font-size: 1.42rem;
  font-weight: bold;
  color: #fff;
}

.card-info__description {
  font-size: 1rem;
  color: #c4c4c4;
}

@media (max-width: 620px) {
  .card-container {
    width: 280px;
  }

  .card-img {
    --size: 280px;
  }

  .card-info__name {
    font-size: 1.2rem;
  }

  .card-info__description {
    font-size: 0.8rem;
  }
}

@media (max-width: 550px) {
  .card-container {
    width: 300px;
  }

  .card-img {
    --size: 300px;
  }
}

@media (max-width: 330px) {
  .card-container {
    width: 270px;
  }

  .card-img {
    --size: 270px;
  }
}

@media (max-width: 300px) {
  .card-container {
    width: 260px;
  }

  .card-img {
    --size: 260px;
  }
}
