.container-actividad-title{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    padding-bottom: 40px;
    text-align: center;
}

.container-actividad-title__main-title{
    font-size: 40px;
    font-weight: 700;
    padding-bottom: 5px;
}

.container-actividad-title__sub-title{
    font-size: 15px;
    font-weight: 500;
    font-style: italic;
}

.container-actividad-info{
    width: 100%;
    height: fit-content;
    background: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 20px;
    position: relative;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}

.container-actividad-info-insc{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    border: 1px solid #ccc;
    background-color: #f3f4f5;
    border-radius: 10px;
    padding: 20px 20PX;
    margin-bottom: 35px;
}

.container-actividad-info-insc__celda{
    font-size: 15px; 
    margin:0;
}

.accordion-actividad{
    width: 100%;
    box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
    margin-bottom: 20px;
}

/*NO ES ESTILO FINAL*/
:host >>> .card.customClass, .card.customClass .card-header, .panel.customClass{
    background-color: var(--primary-yellow);
    color: black;
}
