<!-- Pantalla Carga -->
<!-- Dura un poco y luego desaparece -->
<!-- <app-loading></app-loading> -->

<!-- Banner -->
<section class="presentation">
  <app-header></app-header>
  <h1 class="title-presentation">
    BE YOUR<span class="highlighted"> BEST</span>
  </h1>
</section>

<!-- Se ponen las cartas con los planes -->
<div class="container-fluid containerPlanes" id="planes">
  <div class="container">
    <h1 class="titles">ELEGÍ TU PLAN</h1>
  </div>
  <div class="containerCards">
    <div class="row">
      <app-card class="col" title="BÁSICO" cost="20"></app-card>
      <app-card class="col" title="ESTÁNDAR" cost="50"></app-card>
      <app-card class="col" title="PREMIUM" cost="100"></app-card>
    </div>
  </div>
</div>
