  /* Estilos para la imagen de fondo */
  .imgPresentation{
    width: 100%;
    /* Asegura que la imagen ocupe todo el ancho disponible */
    height:auto;
    /* Mantiene la relación de aspecto de la imagen */
    position: relative;
    /* Permite que la imagen sea el contexto de apilamiento para el componente */
    z-index: 1;
    /* Coloca la imagen en una capa detrás del componente */
  }
  
  h2 {
    color: #fff;
  }
  
  .container-cards .row{
    margin-top: 50px;
  }


.container-cards .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}


/*Si es una computadora se pone lo siguiente*/
@media (min-width: 800px) {
  .container-cards .col {
    margin-bottom: 40px;
  }
}