<!-- Pantalla Carga -->
<!-- Dura un poco y luego desaparece -->
<!-- <app-loading></app-loading> -->

<!-- Banner -->
<section class="presentation">
  <app-header></app-header>
  <h1 class="title-presentation">
    BE YOUR<span class="highlighted"> BEST</span>
  </h1>
</section>

<!-- Se ponen las cartas con los planes -->
<div class="container-fluid containerPlanes" id="planes">
  <div class="container">
    <h1 class="titles">ELEGÍ TU PLAN</h1>
  </div>
  <div class="containerCards">
    <div class="row">
      <!-- Con la directiva ngFor me ahorro tener que declarar 3 veces el componente app-card, ya que esta recorre el array cards del AppComponent.ts y me va mostrando los diferentes datos en cada card -->
      <app-card *ngFor="let card of cards" class="col" [title]="card.title" [cost]="card.cost.toString()" [cardListItems]="card.cardListItems"></app-card>
    </div>
  </div>
</div>
