/* Estilos para la ventana de presentacion */

.presentation {
  background-image: url(../assets/fondo.jpg);
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

.title-presentation{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  display: block;
  font-size: 90px;
  transform: translate(-50%, -50%);
  text-shadow: 3px 4px 7px #130f05cc;
}

/*Estilo para resaltar una palabra de la frase de la presentacion*/

.highlighted {
  color: #ffc107;
}

/* Si es celular veo segun el ancho de la pagina */

@media (min-width: 400px){
  .title-presentation {
      font-size: 110px;
  }
}


@media (min-width: 500px){
  .title-presentation {
      white-space: nowrap;
      font-size: 70px;
  }
}


@media (min-width:600px){
  .title-presentation {
      font-size: 80px;
  }

}

/*Si es una computadora se pone lo siguiente*/

@media (min-width: 800px) {
  .title-presentation {
    font-size: 100px;
  }

}

@media (min-width: 1000px) {
  .title-presentation {
    font-size: 120px;
  }
}



