<section class="container-sedes" id="sedes">
  <div class="main-sedes">
    <div class="map-container">
      <iframe
        class="map"
        src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d1990.5600675242747!2d-60.64993604630253!3d-32.958674364061196!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sgimnasio%20tempus!5e0!3m2!1ses-419!2sar!4v1694006051274!5m2!1ses-419!2sar"
        width="100%"
        height="100%"
        style="border: 0"
        allowfullscreen=""
        loading="lazy"
        referrerpolicy="no-referrer-when-downgrade"
      ></iframe>
    </div>
    <div class="txt-info-sedes">
      <h4 class="txt-info-sedes__section">&lt;Sedes&gt;</h4>
      <h1 class="txt-info-sedes__title">
        DISFRUTA <span class="txt-info-sedes__title-span">CUALQUIERA</span> DE
        NUESTRAS <span class="txt-info-sedes__title-span">SEDES</span>
      </h1>
      <p class="txt-info-sedes__desctiption">
        Nuestras instalaciones de vanguardia están estratégicamente ubicadas en
        toda la ciudad para que puedas acceder fácilmente a tu gimnasio
        preferido. Cada una de nuestras sedes cuenta con un ambiente inspirador
        y comodidades excepcionales para garantizar que alcances tus objetivos
        de fitness de la mejor manera posible.
      </p>
    </div>
  </div>
</section>
