*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container-sedes{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(26.3deg, #d4d4d4 50%, #dad9d9 50% );
    background-size: 100% 100%;
}

.map-container{
    width: 650px;
    max-width: 100%;
    height: 500px;
    padding: 0 10px;
    border: none;
}

.map {
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.txt-info-sedes{
    width: 600px;
    max-width: 100%;
    padding: 0 10px;
    color: #141414;
}

.main-sedes{
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.txt-info-sedes h1 {
    font-weight: bold;
    font-size: 65px;
    padding-bottom: 30px;
    color: #000;
}

.txt-info-sedes h1 span {
    -webkit-text-stroke: 2px #000;
     color: transparent;
}

.txt-info-sedes h4 {
    margin-bottom: 5px;
    color: #888585;
    font-size: 20px;
    letter-spacing: 1px;
}

.txt-info-sedes p {
    font-size: 20px;
    font-weight: 500;
}

@media (max-width: 1315px) {
    .container-sedes{
        width: 100%;
        height: auto;
        padding: 60px 0;
    }
    .main-sedes {
        display: flex;
        flex-direction: column-reverse;
    }
    .txt-info-sedes{
        text-align: center;
        margin-bottom: 40px;
    }
}

@media (max-width: 650px) {
    .map-container{
        margin-bottom: 35px;
    }
    .txt-info-sedes h1{
        font-size: 45px;
        margin-bottom: 20px;
    }
}

@media (max-width: 350px) {
    .txt-info-sedes h1{
        font-size: 40px;
    }
}