  <section class="section-add-edit">
    <a routerLink=""><img src="assets/logo.png" class="imagenLogo" /></a>
    <form [formGroup]="form" class="add-edit-form" (ngSubmit)="addProduct()">
      <h1 class="title-form">Agregar Producto</h1>
      <div class="container-nombre">
        <input formControlName="name" type="text" class="form-control" placeholder="Ingrese nombre">
        <span *ngIf="form.get('name')?.hasError('required') && form.get('name')?.touched">
          El campo nombre es <strong>requerido</strong>
        </span>
      </div>
  
      <div class="container-descripcion">
        <input formControlName="description" type="text" class="form-control" placeholder="Ingrese descripcion">
        <span *ngIf="form.get('description')?.hasError('required') && form.get('description')?.touched">
          El campo descripcion es <strong>requerido</strong>
        </span>
      </div>
  
      <div class="container-precio">
        <input formControlName="precio" type="number" class="form-control" placeholder="Ingrese precio">
        <span *ngIf="form.get('precio')?.hasError('required') && form.get('precio')?.touched">
          El campo precio es <strong>requerido</strong>
        </span>
      </div>
  
      <div class="container-stock">
        <input formControlName="stock" type="number" class="form-control" placeholder="Ingrese stock">
        <span *ngIf="form.get('stock')?.hasError('required') && form.get('stock')?.touched">
          El campo stock es <strong>requerido</strong>
        </span>
      </div>

      <div class="row mt-2 text-center">
        <div class="col-lg-6">
          <button routerLink="/productos" type="button" class="btn btn-secondary">Volver</button>
        </div>
        <div class="col-lg-6">
          <button [disabled]="form.invalid" type="submit" class="btn btn-warning">Aceptar</button>
        </div>
      </div>
  
    
    </form>
  
  </section>