<section class="container-about" id="Nosotros">
  <div class="main">
    <div class="txt-info">
      <h4>&lt;Sobre Nosotros&gt;</h4>
      <h1>
        <span>NUESTRA</span> FAMILIA CODER <span>TE DA LA</span> BIENVENIDA
      </h1>
      <p>
        Gym Script inicio en 2023 como una opción para aquellos desarrolladores
        que quieren no solo mejorar su código sino también su cuerpo. Desde
        entonces, nos hemos expandido hasta más de 4 lugares en todo el país
      </p>
    </div>
    <img src="assets/fotoAbout.png" alt="" />
  </div>
</section>
<div>
  <img class="wave-svg" src="assets/wave-blanco.svg" alt="" />
</div>
