<section class="products-section">
  <div class="first-container">
    <h1 class="section-title">
      Encontra estos productos en cualquiera de nuestras sedes!
    </h1>
    <input
      type="text"
      name="filterProduct"
      placeholder="Buscar..."
      class="search-bar"
      [(ngModel)]="filterProduct"
    />
    <div class="container-order-options">
      <label class="container-order-options__label" for="sortOrderSelect">Ordenar por:</label>
      <select id="sortOrderSelect" class="order-options" [(ngModel)]="sortOrder" (ngModelChange)="onSortOrderChanged()">
        <option class="option-item" value="asc">Nombre A-Z</option>
        <option class="option-item" value="desc">Nombre Z-A</option>
      </select>
    </div>
  </div>

  <div class="second-container">
    <div class="container-nav-bar">
      <nav class="nav-categories">
        <h4 class="nav-categories__title">Categorías</h4>
        <hr />
        <ul class="nav-list">
          <li
            class="list-item"
            *ngFor="let category of categories"
            (click)="onCategorySelected(category)"
          >
            {{ category }}
          </li>
        </ul>
      </nav>
    </div>
    <div class="products-list">
      <app-product-card
        [product]="product"
        *ngFor="let product of filteredProducts | filter: filterProduct"
      ></app-product-card>
    </div>
  </div>
</section>
<app-footer></app-footer>
