<section class="products-section">
  
  <div class="first-container">
      <h1 class="section-title">Encontra estos productos en cualquiera de nuestras sedes!</h1>
      <input type="text" placeholder="Buscar..." class="search-bar">
      <div class="container-filter-options">
        <p>Menor Precio</p>
        <p>Orden Alfabetico</p>
        <p>Más Vendidos</p>
      </div>
  </div>

  <div class="second-container">
    <div class="container-nav-bar">
      <nav class="nav-categories">
        <h4>Categorías</h4>
        <hr>
        <ul class="nav-list">
          <li class="list-item"><a href="#">Todos los productos</a></li>
          <li class="list-item"><a href="#">Equipamiento</a></li>
          <li class="list-item"><a href="#">Ropa y accesorios</a></li>
          <li class="list-item"><a href="#">Nutrición y suplementos</a></li>
          <li class="list-item"><a href="#">Tecnología y electrónica</a></li>
        </ul>
      </nav>
    </div>
      <div class="products-list">
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
        <app-product-card></app-product-card>
      </div>
  </div>
</section>
<app-footer></app-footer>