<div class="form-container" [@fadeIn]>
  <form class="inscription-form">
    <h1 class="form-container__title">INSCRIPCIÓN A PLAN</h1>

    <div class="list">
      <h3 class="form-container__subtitle">Elige un plan</h3>
      <hr class="form-container__hr" />
      <app-spinner *ngIf="!planes"></app-spinner>
      <label class="form-container__label-input" *ngFor="let plan of planes">
        <div>
          <input
            class="form-container__label-input"
            type="radio"
            name="planesGroup"
            [(ngModel)]="idPlanSelected"
            value="{{ plan.id }}"
            (change)="updateButtonState()"
          />
          {{ plan.nombre | titlecase }} -
          {{ plan.precioMensual | currency: "USD" : "symbol" : "1.0-0" }}
        </div>

        <button class="ver-actividades" (click)="openModal(plan.id); $event.stopPropagation()">Ver actividades</button>
      </label>
    </div>

    <div class="list">
      <h3 class="form-container__subtitle">Elige una localidad</h3>
      <hr class="form-container__hr" />
      <app-spinner *ngIf="!localidades"></app-spinner>
      <label
        class="form-container__label-input"
        *ngFor="let localidad of localidades"
      >
        <input
          class="form-container__label-input"
          type="radio"
          name="localidadesGroup"
          [(ngModel)]="idLocalidadSelected"
          value="{{ localidad.id }}"
          (change)="updateSedes(); updateButtonState()"
        />
        {{ localidad.nombre }}
      </label>
    </div>

    <div class="list" *ngIf="sedesFiltered.length > 0">
      <h3 class="form-container__subtitle">Elige una sede</h3>
      <hr class="form-container__hr" />
      <label
        class="form-container__label-input"
        *ngFor="let sede of sedesFiltered"
        [@fadeIn]
      >
        <input
          class="form-container__label-input"
          type="radio"
          name="sedesGroup"
          [(ngModel)]="idSedeSelected"
          value="{{ sede.id }}"
          (change)="updateButtonState()"
        />
        {{ sede.direccion }}
      </label>
    </div>

    <div class="button-container">
      <button
        [disabled]="disabledButton"
        class="pay-button"
        (click)="createInscription(idPlanSelected, idSedeSelected)"
      >
        Pagar ahora
      </button>
    </div>
    <app-spinner *ngIf="loading" margin="0"></app-spinner>
  </form>
</div>
