.form-container {
    width: 100%;
    max-width: 700px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
    padding: 30px 20px 20px;
    border: 1px solid #ced4da;
    border-radius: 5px;
    background-color: #f6f8fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.planes-list {
  display: flex;
  flex-direction: column;
  margin: 60px 0px 0px;
}

h3 {
  color: #6e6e6e;
}

label, input {
  margin: 8px 0px;
  font-size: 1.1rem;
}

.sedes-list {
  display: flex;
  flex-direction: column;
  margin: 60px 0px;
}

.button-container {
  display: flex;
  justify-content: center;
}

.pay-button {
  width: 80%;
  height: 40px;
  color: #fff;
  font-weight: 600;
  border: none;
  border-radius: 5px;
  background-color: rgb(23, 161, 23);
}

.disabled-button {
  background-color: rgb(139, 139, 139);
}

.spinner {
  margin-top: 20px;
  color: #ffc107;
  display: flex;
  justify-content: center;
}