.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-width: 630px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px;
  border-radius: 20px;
  background: rgb(255, 255, 255);
  box-shadow: 20px 20px 30px rgba(0, 0, 0, 0.068);
}

.inscription-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.list {
  display: flex;
  flex-direction: column;
}

.form-container__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}

.form-container__subtitle {
  color: #6e6e6e;
}

.form-container__hr {
  height: 2px;
  width: 25%;
  background-color: var(--primary-yellow);
  border: none;
  opacity: 0.75;
  margin: 0.2rem 0 1.2rem 0;
}

.form-container__label-input {
  margin: 8px 0px;
  font-size: 1.1rem;
}

.button-container {
  display: flex;
  justify-content: center;
}

.pay-button {
  width: 80%;
  height: 40px;
  color: black;
  font-weight: 700;
  border: none;
  border-radius: 10px;
  margin-bottom: 25px;
  background-color: var(--primary-yellow);
}

.pay-button:disabled {
  color: #fff;
  background-color: rgb(139, 139, 139);
}

.spinner {
  margin-top: 0px;
}
