<div class="flip-card">
  <div class="flip-card-inner">
    <div class="flip-card-front">
      <span class="title">{{ tituloFront }}</span>
      <span class="contenido">{{ contenidoFront }}</span>
    </div>

    <div class="flip-card-back">
      <span class="title">{{ tituloBack }}</span>
      <ul class="contenido">
        <li class="contenido">{{ contenidoBack1 }}</li>
        <li class="contenido">{{ contenidoBack2 }}</li>
        <li class="contenido">{{ contenidoBack3 }}</li>
        <li class="contenido">{{ contenidoBack4 }}</li>
      </ul>
    </div>
  </div>
</div>
