/*Creado con mobile first*/

* {
    font-family: sans-serif;
}

.contenedor {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 100%;
    height: auto;
    border-radius: 5%;
    padding: 20px;
    padding-bottom: 10px;
    background-color: #fff;
    transition: all .5s;
}

.title {
    font-size: 25px;
    color: #212529;
    margin: 10px 5px;
}

.cost {
    margin: 0 5px;
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #212529b0;
}

.card-list {
    margin: 15px 0 0 0;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    margin: 15px 5px;
    list-style: none;
}

.gg-check-o {
    height: 21px;
    width: 21px;
    margin-right: 7px;
}

.btn-warning {
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    border: 2px solid #212529;
    transition: all .5s;
}

.contenedor:hover {
    transform: scale(1.05);
}

/*Pagina para box shadowx*/
/* https://getcssscan.com/css-box-shadow-examples */


/* Si la pantalla tiene minimo 300px hago lo siguiente */
@media (min-width: 300px){
    .contenedor {
        width: 280px;
    }
    
}

/*Si la pantalla tiene minimo 350px hago lo siguiente*/
@media (min-width: 350px){
    .contenedor {
        width: 290px;
    }
    
}

/*Si es computadora al pasar el mouse sobre la carta de produce efecto de sombra*/
@media (min-width: 800px){
    .contenedor:hover {
        box-shadow: rgba(255, 193, 7, 0.4) -5px 5px, rgba(255, 193, 7, 0.3) -10px 10px, rgba(255, 193, 7, 0.2) -15px 15px, rgba(255, 193, 7, 0.1) -20px 20px, rgba(255, 193, 7, 0.05) -25px 25px;
        }
    }