* {
    font-family: sans-serif;
}



.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    width: 300px;
    height: auto;
    border-radius: 5%;
    padding: 20px;
    padding-bottom: 10px;
    margin: 30px;
    background-color: #fff;
    transition: all .5s;
}

.title {
    font-size: 25px;
    color: #212529;
    margin: 10px 5px;
}

.cost {
    margin: 0 5px;
    font-size: 40px;
    padding-bottom: 10px;
    border-bottom: 1px solid #212529b0;
}

.card-list {
    margin: 15px 0 0 0;
    padding: 0;
}

.list-item {
    display: flex;
    flex-direction: row;
    margin: 15px 5px;
    list-style: none;
}

.gg-check-o {
    height: 21px;
    width: 21px;
    margin-right: 7px;
}

.btn-warning {
    margin-top: 15px;
    font-weight: bold;
    margin-bottom: 15px;
    border: 2px solid #212529;
    transition: all .5s;
}

.container:hover {
   transform: scale(1.05);
   box-shadow: rgba(239, 218, 79, 0.4) -5px 5px, rgba(239, 218, 79, 0.3) -10px 10px, rgba(239, 218, 79, 0.2) -15px 15px, rgba(239, 218, 79, 0.1) -20px 20px, rgba(239, 218, 79, 0.05) -25px 25px;
}

/*Pagina para box shadowx*/
/* https://getcssscan.com/css-box-shadow-examples */
