<div class="container">
  <span class="title">{{title}}</span>
  <span class="cost">{{cost | currency }}</span>
  <ul class="card-list">
    <li class="list-item"><i class="gg-check-o"></i>Acceso a +400 Sedes</li>
    <li class="list-item"><i class="gg-check-o"></i>Actividades Indoor/Outdoor</li>
    <li class="list-item"><i class="gg-check-o"></i>Clases en vivo y On demand</li>
    <li class="list-item"><i class="gg-check-o"></i>App Nutricion</li>
  </ul>
  <button class="btn btn-warning">Asociate</button>
</div>
