/* Configuracion Logo */
/* Mobile First */

/* Se hace que el loading ocupe toda la pantalla
  y se configura animacion, si es celular con pantalla menor a 500px de ancho no se muestra */
.pantalla {
  width: 100%;
  height: 100%;
  background-color: var(--primary-grey);
  z-index: 2000;
  position: fixed;
  animation: fadeOut 2.6s forwards; 
}

/* Esta es la configuracion principal del logo */
.logo {
  display: flex;
  width: fit-content;
  height: 2em;
  font-size: 3em;
  font-weight: 1000;
  font-family: "Anton", sans-serif;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Estas son las cajas en las que se almacenan las letras */
/* Son las que se mostraran una vez termine la animacion */
.boxLogo {
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #f0db4f;
  color: var(--primary-grey);
  transition: all 0.8s;
  position: relative;
  overflow: hidden;
}

/* Estas son las cajas en las que se almacenan las letras */
/* Son las que se muestran en un inicio */
.boxLogo:before {
  content: "";
  position: absolute;
  top: 0;
  color: #f0db4f;
  background: var(--primary-grey);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: arriba 2s 0s forwards;
  -webkit-animation: arriba 2s 0s forwards;
}

/* Se le asigna a cada caja una letra */
/* Y tambien se le asigna una animacion distinta a las que corresponda */
.boxLogo:nth-child(1)::before {
  content: "G";
}

.boxLogo:nth-child(2)::before {
  content: "Y";
  animation: abajo 2s 0s forwards;
}

.boxLogo:nth-child(3)::before {
  content: "M";
}

.boxLogo:nth-child(4)::before {
  content: "S";
  animation: abajo 2s 0s forwards;
}

.boxLogo:nth-child(5)::before {
  content: "C";
}

.boxLogo:nth-child(6)::before {
  animation: abajo 2s 0s forwards;
  content: "R";
}

.boxLogo:nth-child(7)::before {
  content: "I";
}

.boxLogo:nth-child(8)::before {
  animation: abajo 2s 0s forwards;
  content: "P";
}

.boxLogo:nth-child(9)::before {
  content: "T";
}

.hidden {
  display: none;
}

/* Animaciones de movimiento */

@keyframes arriba {
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(100%);
  }
}

@keyframes abajo {
  30% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}


/* Si el disposito tiene una pantalla mayor a 500px se muestra el loading */
@media (min-width: 500px) {
  .pantalla {
    animation: fadeOut 0.4s 2.5s forwards;
    -webkit-animation: fadeOut 0.4s 2.5s forwards;
  }
}
