/* posicionar bien href del nav para llegar a esta seccion */
#planes::before {
  content: '';
  display: block;
  height: 120px;
  margin-top: -120px;
  visibility: hidden;
}

.containerPlanes {
  margin-top: 100px;
  margin-bottom: 175px;
}

.containerPlanes {
  width: 100%;
}

.containerPlanes .row {
  margin-top: 50px;
}

.containerPlanes .col {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.titles {
  color: solid black;
  font-size: 70px;
  text-align: center;
  font-weight: 750;
  padding-bottom: 20px;
  border-bottom: 2px solid #d6d6d6;
}

/* Estilos para la ventana de presentacion */

.presentation {
  background-image: url(src/assets/fondo2.webp);
  background-size: cover;
  background-position: center;
  height: 100vh;
}

.presentation:before{
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
  background: linear-gradient(rgba(0,0,0,1), rgba(255,255,255,0));
}

.title-presentation{
  position: absolute;
  top: 50%;
  left: 50%;
  color: #fff;
  display: block;
  font-size: 90px;
  transform: translate(-50%, -50%);
  text-shadow: 3px 4px 7px #130f05cc;
}

/*Estilo para resaltar una palabra de la frase de la presentacion*/

.highlighted {
  color: #ffc107;
}

/* Si es celular veo segun el ancho de la pagina */

@media (min-width: 400px){
  .title-presentation {
      font-size: 110px;
  }
}


@media (min-width: 500px){
  .title-presentation {
      white-space: nowrap;
      font-size: 70px;
  }
}


@media (min-width:600px){
  .title-presentation {
      font-size: 80px;
  }

}

/*Si es una computadora se pone lo siguiente*/

@media (min-width: 800px) {
  .title-presentation {
    font-size: 100px;
    display: block;
  }

  .containerPlanes .col {
    margin-bottom: 40px;
  }

}

@media (min-width: 1000px) {
  .title-presentation {
    font-size: 120px;
  }
}

@media (min-width: 1372px) {
  .containerPlanes {
    width: 75%;
  }
}