<div [ngSwitch]="estado">
  <app-inscribirse
    (sinInscripcion)="cambiarEstado($event)"
    *ngSwitchCase="'noInscripto'"
    [idUser]="idUser"
  ></app-inscribirse>
  <div *ngSwitchCase="'inscripto'">
    <app-side-bar
      [usuario]="inscripcion.usuario"
      (queHacer)="queHacer($event)"
      (closeSidebar)="onCloseSidebar($event)"
    ></app-side-bar>
    <main class="main-container" [ngSwitch]="irA" [ngClass]="{ close: close }">
      <app-cuotas
        *ngSwitchCase="'cuotas'"
        [inscripcion]="inscripcion"
      ></app-cuotas>
      <app-actividades
        *ngSwitchCase="'actividades'"
        [inscripcion]="inscripcion"
      ></app-actividades>
      <app-gestion-inscripcion
        (sinInscripcion)="cambiarEstado($event)"
        *ngSwitchCase="'gestion'"
        [inscripcion]="inscripcion"
      ></app-gestion-inscripcion>
      <app-gestion-cuenta *ngSwitchCase="'cuenta'" [idUser]="idUser">
      </app-gestion-cuenta>
    </main>
  </div>
</div>
