.section-register {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 30px 0;
}

.imagenLogo {
  width: 70px;
  margin-bottom: 30px;
}

.register-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px 20px 10px;
  background-color: #f6f8fa;
  border-radius: 0.5rem;
  width: 350px;
  border: 1px solid #ced4da;
}

.title-form {
  color: var(--primary-grey);
  font-weight: 300;
}

.container-input {
  margin: 10px 0 10px;
  width: 100%;
}

.btn {
  margin-top: 20px;
  font-weight: 600;
  width: 100%;
}

.final-text {
  color: var(--primary-grey);
  margin-top: 20px;
}

.errorHandling {
  color: red;
  font-size: 13px;
  margin-top: 5px;
  margin-bottom: 0;
}

.spinner {
  margin-top: 20px;
  color: var(--primary-yellow);
}

/* Se eliminan botones de aumento y decremento de inputs number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esta sirve para firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

@media (max-width: 480px) {
  .register-form {
    width: 90%;
    padding: 20px 10px;
  }

  .imagenLogo {
    width: 50px;
  }
}
