<div class="container_dash">
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="assets/logo.png" class="img-logo" alt="logo" />
        <div class="logo_name">GymScript</div>
      </div>
      <fa-icon
        [icon]="menuIcon"
        class="icon"
        id="btn"
        (click)="closeMenu()"
      ></fa-icon>
    </div>
    <ul class="nav_list">
      <li>
        <button (click)="cargarDatos('Productos', 'productos')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Productos</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Provincias', 'provincias')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Provincias</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Localidades', 'localidades')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Localidades</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Actividades', 'actividades')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Actividades</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Planes', 'planes')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Planes</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Usuarios', 'usuarios')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Usuarios</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Inscripciones', 'inscripciones')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Inscripciones</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Actividad por Plan', 'plan-actividades')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Planes-Actividades</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
      <li>
        <button (click)="cargarDatos('Sedes', 'sedes')">
          <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
          <span class="nav_item">Sedes</span>
        </button>
        <!-- <span class="tooltip">Usuarios</span> -->
      </li>
    </ul>
    <div class="profile_content">
      <div class="profile_details">
        <div class="profile_info">
          <img src="assets/p.png" alt="profileImg" />
          <div class="name_job">
            <div class="name">{{ nombreUser + " " + apellidoUser }}</div>
            <div class="rol">Administrador</div>
          </div>
        </div>
        <div class="profile_logOut">
          <button class="btn_LogOut" (click)="logout()">
            <fa-icon [icon]="logoutIcon" class="icon"></fa-icon>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="listado">
    <app-listados header="{{ header }}" tabla="{{ tabla }}"></app-listados>
  </div>
</div>
