<div class="container_dash">
  <div class="sidebar">
    <div class="logo_content">
      <div class="logo">
        <img src="assets/logo.webp" class="img-logo" alt="logo" />
        <div class="logo_name">GymScript</div>
      </div>
      <fa-icon
        [icon]="menuIcon"
        class="icon"
        id="btn"
        (click)="closeMenu()"
      ></fa-icon>
    </div>
    <div class="nav_list_container">
      <ul class="nav_list">
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Productos', 'productos')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Productos</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Provincias', 'provincias')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Provincias</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Localidades', 'localidades')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Localidades</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Actividades', 'actividades')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Actividades</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Planes', 'planes')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Planes</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Usuarios', 'usuarios')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Usuarios</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Inscripciones', 'inscripciones')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Inscripciones</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Actividad por Plan', 'plan-actividades')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Planes-Actividades</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
        <li class="nav_list__item">
          <button class="nav_list__item-btn" (click)="cargarDatos('Sedes', 'sedes')">
            <fa-icon [icon]="gridIcon" class="icon"></fa-icon>
            <span class="nav_item">Sedes</span>
          </button>
          <!-- <span class="tooltip">Usuarios</span> -->
        </li>
      </ul>
    </div>
    <div class="profile_content">
      <div class="profile_details">
        <div class="profile_info">
          <img class="profile_info__img" src="assets/p.webp" alt="profileImg" />
          <div class="name_job">
            <div class="name">
              {{ nombreUser + " " + apellidoUser }}
            </div>
            <div class="rol">Administrador</div>
          </div>
        </div>
        <button class="btn_LogOut" (click)="logout()">
          <fa-icon [icon]="logoutIcon" class="icon"></fa-icon>
        </button>
      </div>
    </div>
  </div>
  <div class="listado">
    <app-listados header="{{ header }}" tabla="{{ tabla }}"></app-listados>
  </div>
</div>
