<section class="container-md">
  <div class="title">
    <h1>Listado de {{ header }}</h1>
    <button
      type="button"
      class="button-add"
      [disabled]="addRegistrosDisabled"
      (click)="addRegistro()"
      #addRegistros
    >
      Añadir {{ header }}
    </button>
  </div>
  <div class="table-responsive">
    <table class="table" #tablaListados>
      <thead class="table-dark">
        <!-- Itero por cada key del esquema que use el item -->
        <tr>
          <th
            scope="col"
            *ngFor="let key of getObjectKeys(esquema)"
            class="{{ key }}"
          >
            {{ convHeader(key) }}
          </th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- Itero por cada item existente -->
        <tr class="table-light" *ngFor="let item of listado">
          <!-- Itero por cada key del esquema que use el item
          permite asignar clases y valores a los inputs
         -->
          <td
            class="{{ key }}"
            *ngFor="let key of getObjectKeys(esquema); let i = index"
            [ngSwitch]="getKey(tipos[i])"
          >
            <!-- Cuando tengo un input obtengo el valor y lo pongo como predeterminado -->
            <input
              *ngSwitchCase="'input'"
              value="{{ item[key] }}"
              disabled
              type="{{ getValor(tipos[i]) }}"
              class="{{ key }}"
            />
            <!-- Cuando tengo un select obtengo los posibles valores y pongo como predeterminado el que viene de la BD -->
            <select
              *ngSwitchCase="'select'"
              disabled
              class="{{ key }}"
              [(ngModel)]="item[key]"
            >
              <option
                *ngFor="let opcion of getValor(tipos[i])"
                value="{{ opcion }}"
              >
                {{ opcion }}
              </option>
            </select>
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm botones"
              (click)="editar(item['id'])"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm ms-2 botones"
              (click)="borrar(item['id'])"
            >
              Borrar
            </button>
            <!-- Botones que se muestran solo si se encuentra editando valores -->
            <button
              type="button"
              class="btn btn-warning btn-sm hidden botones"
              (click)="aceptar(item['id'])"
            >
              Aceptar
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm ms-2 hidden botones"
              (click)="cancelar()"
            >
              Cancelar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
