section {
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 15px;
}

.button-add {
  width: 200px;
  border: none;
  padding: 0.30rem 1rem;
  border-radius: 4px;
  letter-spacing: .5px;
  font-weight: 600;
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #ffc107;
  transition: all 0.3s;
}

.button-add:hover {
  border: 1px solid #fff;
  color: #ffffff;
  background-color: #000000;
}

h1{
  font-size: 1.47rem;
}

input{
  border: none;
  outline: none;
  background: transparent;
}

input:enabled{
  padding: 0.5px;
  border: 0.5px solid black;
}

.botones{
  width: 80px;
}

.hidden{
  display: none;
}

tbody tr td input{
  width: 100%;
  min-width: 150px;
}

tbody tr td:last-child{
  text-align: center;
}

thead tr th:last-child{
  text-align: center;
  min-width: 200px;
  width: 200px;
}

@media (min-width:550px) {
  .title{
    flex-direction: row;
  }
  h1{
    font-size: 1.5rem;
  }
}

@media (min-width:650px){
  h1{
    font-size: 2rem;
  }
}