.container-fluid {
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 15px;
}

.button-add {
  width: 200px;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: var(--primary-yellow);
  color: var(--primary-grey);
  border: 1px solid var(--primary-yellow);
  transition: all 0.3s;
}

.button-add:hover {
  border: 1px solid #fff;
  color: #ffffff;
  background-color: #000000;
}

.title__h1 {
  font-size: 1.47rem;
}

.table-responsive {
  border-radius: 5px;
}
/* Se le saca estilo predeterminado a los inputs */
.table-atribute-value {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
  width: 100%;
}

.table-atribute-value:enabled {
  padding: 0.5px, 0.5px, 0.5px, 1px;
  border: 0.5px solid black;
  appearance: auto;
  border-radius: 5px;
}

/* Se eliminan botones de aumento y decremento de inputs number */
.table-atribute-value[type="number"]::-webkit-inner-spin-button,
.table-atribute-value[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esta sirve para firefox */
.table-atribute-value[type="number"] {
  -moz-appearance: textfield;
}

.botones {
  width: 80px;
}

.table-campo {
  min-width: 200px;
  padding: 8px;
}

/* Modifico segun ID */
.table-campo.id {
  min-width: 95px;
  max-width: 95px;
}

/* Modifico segun tipos */
.table-campo.tipo {
  min-width: 160px;
}

/* Modifico segun urls de imagenes */
.table-campo.img {
  min-width: 300px;
}

/* Modifico segun sea descripcion */
.table-campo.descripcion {
  min-width: 300px;
}

/* Modifico segun sea DNI */
.table-campo.dni {
  min-width: 130px;
}

/*
  A los ID de cada tabla los pongo en negrita
  No se hace con la clase .id dado que solo quiero la primer columna 
  y no todas las que tengan la clase .id 
*/
.table-campo:first-child .table-atribute-value {
  font-weight: bold;
}

/* Columna Acciones */
.table-campo__btn {
  text-align: center;
}

/* Columna Acciones */
.table-campo__acciones {
  text-align: center;
  min-width: 200px;
  width: 200px;
}

@media (min-width: 550px) {
  .title {
    flex-direction: row;
  }
  .title__h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 650px) {
  .title__h1 {
    font-size: 2rem;
  }
}
