section {
  margin-top: 30px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  margin: 0 15px 15px;
}

.button-add {
  width: 200px;
  border: none;
  padding: 0.3rem 1rem;
  border-radius: 4px;
  letter-spacing: 0.5px;
  font-weight: 600;
  background-color: #ffc107;
  color: #212529;
  border: 1px solid #ffc107;
  transition: all 0.3s;
}

.button-add:hover {
  border: 1px solid #fff;
  color: #ffffff;
  background-color: #000000;
}

h1 {
  font-size: 1.47rem;
}
/* Se le saca estilo predeterminado a los inputs */
input,
select {
  appearance: none;
  border: none;
  outline: none;
  background: transparent;
}

input:enabled,
select:enabled {
  padding: 0.5px, 0.5px, 0.5px, 1px;
  border: 0.5px solid black;
}

/* Se eliminan botones de aumento y decremento de inputs number */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Esta sirve para firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

select:enabled {
  appearance: auto;
}

.botones {
  width: 80px;
}

tbody tr td,
thead tr th {
  min-width: 200px;
  padding: 8px;
}

tbody tr td input,
tbody tr td select {
  width: 100%;
}

/* Modifico segun ID */
tbody tr td.id,
thead tr th.id {
  min-width: 95px;
  max-width: 95px;
}

/* Modifico segun tipos */
tbody tr td.tipo,
thead tr th.tipo {
  min-width: 160px;
}

/* Modifico segun urls de imagenes */
tbody tr td.img,
thead tr th.img {
  min-width: 300px;
}

/* Modifico segun sea descripcion */
tbody tr td.descripcion,
thead tr th.descripcion {
  min-width: 300px;
}

/* Modifico segun sea DNI */
tbody tr td.dni,
thead tr th.dni {
  min-width: 130px;
}

/*
  A los ID de cada tabla los pongo en negrita
  No se hace con la clase .id dado que solo quiero la primer columna 
  y no todas las que tengan la clase .id 
*/
tbody tr td:first-child input {
  font-weight: bold;
}

/* Columna Acciones */
tbody tr td:last-child {
  text-align: center;
}

/* Columna Acciones */
thead tr th:last-child {
  text-align: center;
  min-width: 200px;
  width: 200px;
}

/* Propiedad usada para ocultar items */
.hidden {
  display: none;
}

@media (min-width: 550px) {
  .title {
    flex-direction: row;
  }
  h1 {
    font-size: 1.5rem;
  }
}

@media (min-width: 650px) {
  h1 {
    font-size: 2rem;
  }
}

@media (min-width: 1400px) {
}
