<section class="container-md">
  <div class="title">
    <h1>Listado de {{ header }}</h1>
    <button
      type="button"
      class="button-add"
      [disabled]="addRegistrosDisabled"
      (click)="addRegistro()"
      #addRegistros
    >
      Añadir {{ header }}
    </button>
  </div>
  <div class="table-responsive">
    <table class="table" #tablaListados>
      <thead class="table-dark">
        <tr>
          <th scope="col" *ngFor="let titulo of getObjectKeys(esquema)">
            {{ titulo }}
          </th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr class="table-light" *ngFor="let item of listado; let fila = index">
          <td *ngFor="let value of getObjectValues(item); let i = index">
            <input value="{{ value }}" disabled type="{{ tipos[i] }}" />
          </td>
          <td>
            <button
              type="button"
              class="btn btn-warning btn-sm botones"
              (click)="editar(fila + 1)"
            >
              Editar
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm ms-2 botones"
              (click)="borrar(fila + 1)"
            >
              Borrar
            </button>
            <!-- Botones que se muestran solo si se encuentra editando valores -->
            <button
              type="button"
              class="btn btn-warning btn-sm hidden botones"
              (click)="aceptar(fila + 1)"
            >
              Aceptar
            </button>
            <button
              type="button"
              class="btn btn-secondary btn-sm ms-2 hidden botones"
              (click)="cancelar()"
            >
              Cancelar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</section>
