<!-- Banner -->
<section class="presentation">
  <h1 class="title-presentation">
    BE YOUR<span class="highlighted"> BEST</span>
  </h1>
</section>
<app-about-us></app-about-us>
<div class="container-fluid containerPlanes" id="planes">
  <div class="container">
    <h1 class="titles">ELEGÍ TU PLAN</h1>
  </div>
  <div class="containerCards" *ngIf="planes; else loading">
    <div class="row">
      <app-card
        *ngFor="let card of planes"
        class="col"
        [id]="card.id"
        [title]="card.nombre"
        [cost]="card.precioMensual.toString()"
        [cardListItems]="card.descripcion"
      ></app-card>
    </div>
  </div>
</div>
<app-sedes></app-sedes>
<app-footer></app-footer>

<ng-template #loading>
  <app-spinner margin="180px 0 0 0"></app-spinner>
</ng-template>
